In [2]:
import pandas as pd

In [ ]:
# Load the dataset
df = pd.read_csv("Students_Grading_Dataset.csv")
df

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,Engineering,52.29,55.03,57.82,...,85.90,56.09,F,6.2,No,Yes,High School,Medium,5,4.7
1,S1001,Maria,Brown,student1@university.com,Male,18,Engineering,97.27,97.23,45.80,...,55.65,50.64,A,19.0,No,Yes,NaN,Medium,4,9.0
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Business,57.19,67.05,93.68,...,73.79,70.30,D,20.7,No,Yes,Master's,Low,6,6.2
3,S1003,Omar,Williams,student3@university.com,Female,24,Mathematics,95.15,47.79,80.63,...,92.12,61.63,A,24.8,Yes,Yes,High School,High,3,6.7
4,S1004,John,Smith,student4@university.com,Female,23,CS,54.18,46.59,78.89,...,68.42,66.13,F,15.4,Yes,Yes,High School,High,2,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,S5995,Ahmed,Jones,student4995@university.com,Male,19,Business,NaN,82.15,60.33,...,58.42,85.21,D,25.5,No,Yes,High School,Low,10,8.3
4996,S5996,Emma,Brown,student4996@university.com,Male,19,Business,65.11,86.31,49.80,...,60.87,95.96,C,5.0,No,Yes,NaN,Medium,4,4.0
4997,S5997,John,Brown,student4997@university.com,Female,24,CS,87.54,63.55,64.21,...,82.65,54.25,A,24.8,Yes,No,High School,Medium,4,6.3
4998,S5998,Sara,Davis,student4998@university.com,Male,23,CS,92.56,79.79,94.28,...,94.29,55.84,A,16.1,Yes,Yes,Bachelor's,Low,1,8.4
4999,S5999,Maria,Brown,student4999@university.com,Female,21,Engineering,83.92,83.24,53.47,...,69.25,77.86,F,29.2,No,Yes,PhD,Low,2,6.1

In [ ]:
#.head() to view the first five rows of the updated DataFrame
df.head()

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,Engineering,52.29,55.03,57.82,...,85.90,56.09,F,6.2,No,Yes,High School,Medium,5,4.7
1,S1001,Maria,Brown,student1@university.com,Male,18,Engineering,97.27,97.23,45.80,...,55.65,50.64,A,19.0,No,Yes,NaN,Medium,4,9.0
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Business,57.19,67.05,93.68,...,73.79,70.30,D,20.7,No,Yes,Master's,Low,6,6.2
3,S1003,Omar,Williams,student3@university.com,Female,24,Mathematics,95.15,47.79,80.63,...,92.12,61.63,A,24.8,Yes,Yes,High School,High,3,6.7
4,S1004,John,Smith,student4@university.com,Female,23,CS,54.18,46.59,78.89,...,68.42,66.13,F,15.4,Yes,Yes,High School,High,2,7.1

In [ ]:
#.value_counts() is used to return a Series containing counts of unique values.
df["Department"].value_counts()

Department
CS             2022
Engineering    1469
Business       1006
Mathematics     503
Name: count, dtype: int64

In [ ]:
# Create a mapping dictionary for department abbreviations
Department_dict = {
    "CS": "CS",
    "Engineering": "ENG",
    "Business": "BS",
    "Mathematics": "MATH"
}

In [ ]:
# Map the department names to their abbreviations
Abbreviated_Department = df["Department"].map(Department_dict)
Abbreviated_Department

0        ENG
1        ENG
2         BS
3       MATH
4         CS
        ...
4995      BS
4996      BS
4997      CS
4998      CS
4999     ENG
Name: Department, Length: 5000, dtype: object

In [8]:
Abbreviated_Department.value_counts()

Department
CS      2022
ENG     1469
BS      1006
MATH     503
Name: count, dtype: int64

In [ ]:
#
df["Department"] = Abbreviated_Department
df

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,ENG,52.29,55.03,57.82,...,85.90,56.09,F,6.2,No,Yes,High School,Medium,5,4.7
1,S1001,Maria,Brown,student1@university.com,Male,18,ENG,97.27,97.23,45.80,...,55.65,50.64,A,19.0,No,Yes,NaN,Medium,4,9.0
2,S1002,Ahmed,Jones,student2@university.com,Male,24,BS,57.19,67.05,93.68,...,73.79,70.30,D,20.7,No,Yes,Master's,Low,6,6.2
3,S1003,Omar,Williams,student3@university.com,Female,24,MATH,95.15,47.79,80.63,...,92.12,61.63,A,24.8,Yes,Yes,High School,High,3,6.7
4,S1004,John,Smith,student4@university.com,Female,23,CS,54.18,46.59,78.89,...,68.42,66.13,F,15.4,Yes,Yes,High School,High,2,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,S5995,Ahmed,Jones,student4995@university.com,Male,19,BS,NaN,82.15,60.33,...,58.42,85.21,D,25.5,No,Yes,High School,Low,10,8.3
4996,S5996,Emma,Brown,student4996@university.com,Male,19,BS,65.11,86.31,49.80,...,60.87,95.96,C,5.0,No,Yes,NaN,Medium,4,4.0
4997,S5997,John,Brown,student4997@university.com,Female,24,CS,87.54,63.55,64.21,...,82.65,54.25,A,24.8,Yes,No,High School,Medium,4,6.3
4998,S5998,Sara,Davis,student4998@university.com,Male,23,CS,92.56,79.79,94.28,...,94.29,55.84,A,16.1,Yes,Yes,Bachelor's,Low,1,8.4
4999,S5999,Maria,Brown,student4999@university.com,Female,21,ENG,83.92,83.24,53.47,...,69.25,77.86,F,29.2,No,Yes,PhD,Low,2,6.1

In [ ]:
#.head() to view the first five rows of the updated DataFrame
df.head()

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,ENG,52.29,55.03,57.82,...,85.90,56.09,F,6.2,No,Yes,High School,Medium,5,4.7
1,S1001,Maria,Brown,student1@university.com,Male,18,ENG,97.27,97.23,45.80,...,55.65,50.64,A,19.0,No,Yes,NaN,Medium,4,9.0
2,S1002,Ahmed,Jones,student2@university.com,Male,24,BS,57.19,67.05,93.68,...,73.79,70.30,D,20.7,No,Yes,Master's,Low,6,6.2
3,S1003,Omar,Williams,student3@university.com,Female,24,MATH,95.15,47.79,80.63,...,92.12,61.63,A,24.8,Yes,Yes,High School,High,3,6.7
4,S1004,John,Smith,student4@university.com,Female,23,CS,54.18,46.59,78.89,...,68.42,66.13,F,15.4,Yes,Yes,High School,High,2,7.1

In [ ]:
# Trim the DataFrame to include only relevant columns
selected_columns = [
    "Student_ID",
    "Email",
    "Gender",
    "Age",
    "Department",
    "Attendance (%)",
    "Final_Score",
    "Midterm_Score",
    "Total_Score",
    "Grade",
    "Study_Hours_per_Week",
    "Internet_Access_at_Home",
    "Stress_Level (1-10)",
    "Sleep_Hours_per_Night"
]

trimmed_df = df[selected_columns]
trimmed_df.head()

,Student_ID,Email,Gender,Age,Department,Attendance (%),Final_Score,Midterm_Score,Total_Score,Grade,Study_Hours_per_Week,Internet_Access_at_Home,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,student0@university.com,Female,22,ENG,52.29,57.82,55.03,56.09,F,6.2,Yes,5,4.7
1,S1001,student1@university.com,Male,18,ENG,97.27,45.80,97.23,50.64,A,19.0,Yes,4,9.0
2,S1002,student2@university.com,Male,24,BS,57.19,93.68,67.05,70.30,D,20.7,Yes,6,6.2
3,S1003,student3@university.com,Female,24,MATH,95.15,80.63,47.79,61.63,A,24.8,Yes,3,6.7
4,S1004,student4@university.com,Female,23,CS,54.18,78.89,46.59,66.13,F,15.4,Yes,2,7.1

In [ ]:
# Attain the attendance column values
Attendance_values = trimmed_df["Attendance (%)"]
Attendance_values

0       52.29
1       97.27
2       57.19
3       95.15
4       54.18
        ...
4995      NaN
4996    65.11
4997    87.54
4998    92.56
4999    83.92
Name: Attendance (%), Length: 5000, dtype: float64

In [14]:
#.Describe() is used to generate descriptive statistics that summarize the central tendency, dispersion and shape of a dataset’s distribution, excluding NaN values.
Attendance_values.describe()

count    4484.000000
mean       75.431409
std        14.372446
min        50.010000
25%        63.265000
50%        75.725000
75%        87.472500
max       100.000000
Name: Attendance (%), dtype: float64

In [ ]:
# Function to classify attendance
#90-100 - EXCELLENT
#50-90 - GOOD
#< 50 - POOR
def Attendance_classifier(attendance):
  if attendance > 90 and attendance <= 100:
    return "Excellent"
  elif attendance > 50 and attendance <= 90:
    return "Good"
  else :
    return "Poor"

In [ ]:
# Apply the classifier to the attendance values
Classified_Attendance = Attendance_values.apply(Attendance_classifier)
Classified_Attendance

0            Good
1       Excellent
2            Good
3       Excellent
4            Good
          ...
4995         Poor
4996         Good
4997         Good
4998    Excellent
4999         Good
Name: Attendance (%), Length: 5000, dtype: object

#Lambda Functions
- A lambda function in Python is a small, one-line function that does not need a name.
People use it when they need a quick function for a short task.
- Basic structure for the lambda functions is as follows:
lambda arguments: expression

In [ ]:
# A list of numbers
numbers = [4,6,5,7,8,10,9,12]

In [2]:
#Use map and lambda to square each number in the list
squared_numbers = list(map(lambda x: x**2, numbers))
squared_numbers

[16, 36, 25, 49, 64, 100, 81, 144]